// =============================================================================
// Jumbotron
// =============================================================================

@require "../../node_modules/bootstrap-styl/bootstrap/jumbotron.styl"

.jumbotron 
  p 
    text-transform: uppercase
    letter-spacing: 1px
